@media only screen and (max-width: 600px) {
    body {
      background-color: lightblue;
    }
}
#navbar {
    background-color: rgb(8, 143, 143);
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    top: 0;
}
#navbar ul li {
    list-style-type: none;
    display: inline-block;
    padding: 8px;
    size: 25px;
    color: white;
}
#navbar ul li a{
    color: white;
    font-size: 25px;;
}
#welcome-section #myName {
    color: white;
    font-size: 60px;
}
#welcome-section #webdev {
    color: rgb(8, 143, 143);
    font-size: 40px;
    font-style: italic;
}
#welcome-section {
    background: rgb(59, 60, 54); 
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
#projects {
    background-color: rgb(80, 114, 167);
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
#profile {
    background: rgb(74, 100, 108);
    width:100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}